<main class="mat-typography main-page">
  <!-- <svg-icon src="assets/logo.svg" [svgStyle]="{ 'width.px':90, 'height.px':90 }"></svg-icon> -->
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" class="posts__header">
    <mat-tab-group (selectedIndexChange)="changePostsType($event)">
      <mat-tab label="One"></mat-tab>
      <mat-tab label="Two"></mat-tab>
    </mat-tab-group>

    <span fxFlex class="posts__type"></span>

    <mat-slide-toggle
      [(ngModel)]="smartLenta"
      class="posts__interesting-toggler"
      color="accent"
    >Interesting at the top</mat-slide-toggle>
  </div>

  <mat-divider class="divider"></mat-divider>

  <div class="posts__body">
    <app-post-preview *ngFor="let post of posts" [post]="post"></app-post-preview>
  </div>
</main>
