.logo {
  height: 30px;
  width: 136px;

  & > img {
    width: 100%;
  }
}

.profile {
  height: 45px;
  width: 45px;

  & > img {
    width: 100%;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}
