/* You can add global styles to this file, and also import other style files */
@import 'quill/dist/quill.bubble.css';
@import 'quill/dist/quill.snow.css';
@import 'highlightjs/styles/solarized_dark.css';
@import 'normalize.css/normalize.css';
@import '~@angular/material/theming';

@include mat-core();

@import 'dark-theme.scss';

html {
  @include angular-material-theme($anms-black-theme);
}

// TODO: выпилить этот шрифт, используется только в лого
@font-face {
  font-family: "Comfortaa";
  font-weight: bold;
  src: url("./assets/Comfortaa-Bold.ttf") format("truetype");
}

:root {
  --black: #212121;
  --white: #FFFFFF;
  --teal: #009688;
  --grey: #dddddd;
}
