/* You can add global styles to this file, and also import other style files */
@import 'quill/dist/quill.bubble.css';
@import 'quill/dist/quill.snow.css';
@import 'highlightjs/styles/solarized_dark.css';
@import 'normalize.css/normalize.css';

@font-face {
  font-family: "Comfortaa";
  font-weight: bold;
  src: url("./assets/Comfortaa-Bold.ttf") format("truetype");
}
